<body class="container">
	<div class="jumbotron">
	
	 <div class="row"> 
	 <h1 style="text-align: center" class="col-12"> P.A.P </h1>
	 
			<div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="/img/mapa.jpg" alt="Card map" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">PAISES</h5>
    				<p class="card-text">Menu de insercion de paises y consulta de tabla de datos con sus ciudadanos incluidos.</p>
    				<input type="button" class="btn btn-info" value="Paises" onclick="location.href='/pais/r'"/><br/>
  			  </div>
  			</div>
  			
  			<div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="/img/aficiones.jpg" alt="Card aficion" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">AFICIONES</h5>
    				<p class="card-text">Menu de insercion de aficiones y consulta de tabla de datos de aficiones.</p>
    				<input type="button" class="btn btn-info" value="Aficiones" onclick="location.href='/aficion/r'"/><br/>
  			 </div>
           </div>
           
           <div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="/img/persona.jpg" alt="Card persona" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">PERSONAS</h5>
    				<p class="card-text">Menu de insercion de personas y consulta de tabla de datos con hoobies incluidos.</p>
    				<input type="button" class="btn btn-info" value="Personas" onclick="location.href='/persona/r'"/><br/>
  			 </div>
           </div>
            
		</div>	
	</div>
</body>