<body class="container">
	<div class="jumbotron">
	
	 <div class="row"> 
	 <h1 style="text-align: center" class="col-12"> Localidad/Cliente </h1>
	 
			<div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="" alt="Card map" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">Localidades</h5>
    				<p class="card-text">Menu de insercion de localidades y consulta de tabla de datos con sus provincias incluidas.</p>
    				<input type="button" class="btn btn-info" value="Localidades" onclick="location.href='/localidad/r'"/><br/>
  			  </div>
  			</div>
  			
  			<div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="" alt="Card aficion" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">Clientes</h5>
    				<p class="card-text">Menu de insercion de clientes y consulta de tabla de datos.</p>
    				<input type="button" class="btn btn-info" value="Clientes" onclick="location.href='/cliente/r'"/><br/>
  			 </div>
           </div>
           
            
		</div>	
	</div>
</body>