<body class="container">
	<div class="jumbotron">
	
	 <div class="row"> 
	 <h1 style="text-align: center" class="col-12"> Empresa </h1>
	 
			<div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="" alt="Card map" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">EMPRESA</h5>
    				<p class="card-text">Menu de insercion de empresas y consulta de tabla de datos con sus trabajadores incluidos.</p>
    				<input type="button" class="btn btn-info" value="Empresa" onclick="location.href='/empresa/r'"/><br/>
  			  </div>
  			</div>
  			
  			<div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="" alt="Card aficion" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">PRODUCTOS</h5>
    				<p class="card-text">Menu de insercion de productos.</p>
    				<input type="button" class="btn btn-info" value="Productos" onclick="location.href='/productos/r'"/><br/>
  			 </div>
           </div>
           
           <div class="card ml-5" style="width: 18rem;">
  				<img class="card-img-top" src="" alt="Card persona" width="512" height="260">
 				<div class="card-body">
   					 <h5 class="card-title">TRABAJADORES</h5>
    				<p class="card-text">Menu de insercion de trabajadores.</p>
    				<input type="button" class="btn btn-info" value="Trabajadores" onclick="location.href='/trabajador/r'"/><br/>
  			 </div>
           </div>
            
		</div>	
	</div>
</body>