<div class="container">
<h1>NUEVA PERSONA</h1>

<form action="/persona/cPost" method="POST" enctype="multipart/form-data">
	<div>
	Nombre:
	<label for="idNombre"/>
	<input type="text" id="idNombre" name="nombre" autofocus="autofocus"/>
	</div>
	
	<div>
	Password:
	<label for="idPwd"/>
	<input type="password" id="idPwd" name="pwd"/>
	</div>
	
	<div>
	Foto:
	<label for="idFoto"/>
	<input type="file" id="idFoto" name="foto"/>
	</div>
	
	<div>
	Fecha de nacimiento:
	<label for="idFecha"/>
	<input type="date" id="idFecha" name="fecha"/>
	</div>
	
	<div>
	 <span>Pais de nacimiento</span>
	  <select name="IdPaisNace">
	    <option th:each="pais:${paises}" th:value="${pais.id}" th:text="${pais.nombre}"></option>
	  </select>
	</div>
	
	<div>
	 <span>Pais de residencia</span>
	  <select name="IdPaisReside">
	    <option th:each="pais:${paises}" th:value="${pais.id}" th:text="${pais.nombre}"></option>
	  </select>
	</div>
	  
	 <fieldset>
	  <legend>Aficion gusta</legend>
	   <div th:each="aficion:${aficiones}">
	    <input th:id="|id-${aficion.id}|" type="checkbox" name="idsAficion[]" th:value="${aficion.id}"/>
	    <label th:for="|id-${aficion.id}|" th:text="${aficion.nombre}"/>
	   </div>
	 </fieldset>
	 
	 
	 <fieldset>
	  <legend>Aficion odia</legend>
	   <div th:each="aficion:${aficiones}">
	    <input th:id="|id-${aficion.id}|" type="checkbox" name="idsAficionOdia[]" th:value="${aficion.id}"/>
	    <label th:for="|id-${aficion.id}|" th:text="${aficion.nombre}"/>
	   </div>
	 </fieldset>
	
	<input type="submit" class="btn btn-warning" value="Crear Persona"/>
</form>
</div>
<br>